.red{
	background-color: transparent !important;
}
nav{
	background-color: transparent;
	position: fixed;
	padding: 0, 30px;
	top: 0px;
	z-index: 1500;
	border: transparent;

}
.brand-logo{
	margin-left: 30px;
}

.dropdown-content li > a {
	font-size: 11px;
	color: #000b0a;
	display: block;
	line-height: 22px;
	padding: 12px 5px;;
}

.carousel .carousel-item>img {
	width: 100%;
	margin-top: -150px;
	z-index: -70;
	position: fixed;
	left: 0;
}

