body{
	background-color: $background-fondo;
} 


nav{
	@include menu();
}


.carousel .carousel-item>img {
	width: 100%;
	margin-top: -150px;
	left: 0;
}
.container{
	@include container-fondo();
	p{
		color: $background-fondo;
	}

}

.who-are{
	@include we-now();
}

//PRODUCTOS
.products{
	.container{
		background-color: whitesmoke;

	}
	img{
		width:95%;
		border-radius: $border-radius;
	}
	.im-uno{
		background-color: white;

	}
}

//PORTAFOLIO
.portafolio{
	text-align: center;
	img{
		border-radius: $border-radius;
		width: 95%;
	}
}


//SECCION SEIS
.Meet-our-team{
	@include seccion-seis();
	.fa-facebook{
		color: $facebook;
	}
	.fa-twitter{
		color: $twtter;
	}
	.fa-linkedin{
		color: $linkedin;
	}
	.fa-google-plus{
		color: $google;
	}
}

//SECCION SEVEN
.choose-a-plan{
	@include seccion-siete();
	#textoH2{
		text-align: left;
	}

	.uno{
		background-color: $color_text_titulo;
		padding: 15px 25px 15px 50px;
		width: 30%;
		margin-left: 3%;
		margin-right: 3%;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.dos{
		padding: 15px 25px 15px 50px;
		width: 30%;
		margin-left: 3%;
		margin-right: 3%;
		padding-top: 5%;
		padding-bottom: 5%;
	}

}

//seccion ocho.
.clientes{
	@include seccion-ocho()
}

.suscribete{

	h2, h5{
		color: white;
	}
	.container{
		background-image: url("../img/about.jpg");
		max-width: 100%;
		width: 95%;
	}
	.cont-subs{
		text-align:center;
		background-color: white;
		position: relative;
		width: 50%;
	}
}