body{
	background-color: $background-fondo;
} 


nav{
	@include menu();
}


.carousel .carousel-item>img {
	width: 100%;
	margin-top: -150px;
	left: 0;
}
.container{
	@include container-fondo();
	p{
		color: $background-fondo;
	}

}

.who-are{
	@include we-now();
}

//PORTAFOLIO
.portafolio{
	img{
		width: 95%;
	}
}


//SECCION SEIS
.Meet-our-team{
	@include seccion-seis();
}


.choose-a-plan{
	@include seccio-siete();
	.uno{
		background-color: $color_text_titulo;

	}

}