@mixin texto-titulos(){
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 67.2px;
	line-height: 77.28px;
	margin: 0 0 20px;
}

@mixin container-fondo(){
	margin: -50px 20px 5px 33px;
	z-index: 1111111;
	
	padding: 60px 11px 10px;
	background-color: #fff;
	width: 95%;
	text-align: center;
	border-radius: 20px solid;
	
	h6{
		font-family: "Roboto","Helvetica","Arial",sans-serif;
		font-weight: 300;
		font-size: 23px;
		color: #999;
	}
}


//Navbar
@mixin menu(){
	background-color: transparent;
	position: fixed;
	top: 10px;
	z-index: 2222;
	border: transparent;
	padding: 0 40px;
	box-shadow:none;

	.brand-logo{
		font-size: 20px
	}
	ul{
		a{
			font-size: 10px;
		}
	}
	.btn{
		font-size: 10px;
		background-color: $color_rosado;
	}
	.dropdown-content li > a {
		font-size: 10px;
		color: #000b0a;
		display: block;
		line-height: 12px;
		padding: 12px 3px;;
	}
}


//HOW ARE WE NOW
@mixin we-now(){
	background-image: url("../img/img_city.jpg");
	color: #999;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	right: 0px;
	left: 0px;
	padding: 30px;
	h1{
		font-family: $body_font;
		color: $color_text_titulo;
		text-align: left;

	}
	p{
		color: $color_text_titulo;
		text-align: left;
		font-size: 18px;

	}
	img{
		width: 100%;
		height: auto;
	}

	iframe{
		border: 1px solid white;
	}
}

//MEET OUR TEAM
@mixin seccion-seis(){
	img{
		width: 110%;
		border-radius: $border-radius;
	}
	ul>li{
		display: inline-block;

	}
	p, h5, h6, .iconos{
		text-align:left;
		padding:0px 0px 1px 29px;
		font-size: 18px;
	}
	h5{
		font-family: "Roboto Slab","Times New Roman",serif;
		font-weight: 800;
		color: #3c4858;
		font-size: 150%;	
	}
	h6{
		font-weight: 400;
		color: #777;
		font-size: 90%
	}
	p{
		color: #999;
		font-size: 90%;
		font-weight: 400;
	}
	.subtitulo{
		text-align: center;
	}
	.container .row {
		margin-left: 1.25rem;
		margin-right: -0.75rem;
	}
	i{
		margin: 0px 10px 0px 5px;
	}
}

//choose-a-plan
@mixin seccion-siete(){
	.container{
		background-color: whitesmoke;
		padding-top: 101px;
		text-align:center;
	}
	span{
		color: black;
	}
	.btn{
		background-color: $color_rosado;
	}
	hr{
		color: #989998;;

	}
}

//clientes
@mixin seccion-ocho(){
	img{
		width: 40%;
		border-radius: 100px;;
	}
	p, h6{

		padding:0px 38px 1px 29px;
	}

	h6{
		color: black;
	}
}