@mixin texto-titulos(){
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 67.2px;
	line-height: 77.28px;
	margin: 0 0 20px;
}

@mixin container-fondo(){
	margin: -50px 20px 5px 33px;
	z-index: 1111111;
	
	padding: 60px 11px 10px;
	background-color: #fff;
	width: 95%;
	text-align: center;
	border-radius: 20px solid;
	
	h6{
		font-family: "Roboto","Helvetica","Arial",sans-serif;
		font-weight: 300;
		font-size: 23px;
		color: #999;
	}
}

@mixin seccion-seis(){
	img{
		width: 120%;
	}
	ul>li{
		display: inline-block;

	}
	p, h5, h6, .iconos{
		text-align:left;
		padding: 0px 67px 0px 34px;
	}
	.subtitulo{
		text-align: center;
	}
}