$body_font: 'Roboto', sans-serif;
$background_fondo: #989998;
$background_dos: #f7f7f7;
$color_text_titulo: #fff;
$color_rosado: #E91E63;
$color_celeste: #00BCD4;
$color_verde: #4CAF50;
$text_center: center;
$border-radius: 10px 10px 10px 10px;
$padding_media :11%;
$padding_footer: 2%;
$width_desktop: 100%;
$facebook: #333399;
$twtter: #80dfff;
$linkedin: #6666ff;
$google: #ff3333;